
/* 	Base styles, yeah?
/* ======================================= */


* {
	box-sizing: border-box;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

.desktop-hidden {
	display: none;
}

//Colours
$base_gray: #e6e6e6;
$yellow: #fff82e;
$text_gray: #b3b3b3;
$nav_gray: #727272;

ul {
	li {
		list-style: none;
	}
}

// body {
// 	display: none;
// }

body {
	margin: auto;
	position: relative;
	color: $text_gray;
	background: $base_gray;

	#wrapper {
		width: 1020px;
		background: white;
		margin: auto;
		top: 152px;
		margin-bottom: 152px;
		position: relative;
		min-height: 480px;
		// padding: 0 60px;
	}

	&.lightbox-open {
		position: relative;
		overflow: hidden;

		.lightbox-wrapper {
			&.show {
				overflow-y: scroll; 
			}
		}
	}	 
}

.content-top, footer, .content-main, .content-bottom {
	padding: 0 60px;
	overflow: hidden;
}

.content-top {
	position: relative;
	margin-top: 236px;
	height: 460px;
	overflow: hidden;
}

.go-to-top {
	cursor: pointer;
}

//Mixins for different sections of cv.

@mixin section-01 {
	min-height: 500px;

	.details {
		top: 95px;
	}
	
	.copy {
		top: 70px;
		left: 310px;
	}

	.quote {
		margin-top: 70px;
		width: 44%;
		left: 330px;

		&:after {
			right: 150px;
		  	top: 90px;
		}
	}
}

@mixin section-02 {
	min-height: 500px;

	.number {
		right: 170px;
	}

	.details {
		top: 55px;
		right: 0;
	}
	
	.copy {
		top: 150px;
		left: 580px;
		right: 100px;
	}

	.quote {
		width: 27%;
		left: 330px;

		&:after {
			right: 80px;
		  	top: 40px;
		  	content: '\201C';
		}

		
	}
}

@mixin section-03 {

	min-height: 500px;
	
	.number {
		left: -90px;
	}
	.details {
		top: 95px;
	}
	
	.copy {
		top: 70px;
		left: 310px;
	}

	.quote {
		margin-top: 70px;
		width: 44%;
		left: 330px;

		&:after {
			right: 150px;
		  	top: 90px;
		  	content: '\201C';

		}
	}
}

@mixin section-04 {
	min-height: 500px;

	.number {
		left: 150px;
		top: 20px;
	}

	.details {
		top: 95px;
	}
	
	.copy {
		top: 70px;
		left: 310px;
	}

	.quote {
		top: -150px;
		width: 34%;
		left: 620px;
		position: relative;

		&:after {
			right: 150px;
		  	top: 90px;
		}
	}
}

//Mixins for Portfolio sections

@mixin portfolio-even {

	.details, .copy, .logo {
		left: 320px;
	}
}

@mixin portfolio-odd {
	.logo {
		top: 46px;
		left: 200px;
	}
}

.content-main {

	div {
		&.cv-section {
			width: 100%;
			height: auto;
			min-height: 300px;
			margin-top: 30px;
			margin-bottom: 30px;
			position: relative;

			p {
				font-weight: lighter;
				font-size: 0.8em;
			}

			&:nth-child(odd) {

			}

			&:nth-child(even) {

			}

			&:nth-child(1) {
				@include section-01;
			}

			&:nth-child(2) {
				@include section-02;
			}

			&:nth-child(3) {
				@include section-03;
			}

			&:nth-child(4) {
				@include section-04;
			}

			&:nth-child(5) {
				@include section-01;
			}

			&:nth-child(6) {
				@include section-02;
			}

			&:nth-child(7) {
				@include section-03;
			}

			&:nth-child(8) {
				@include section-04;
			}

		}

		&.number {
  			font-family: "lust",sans-serif;
  			color: $yellow;
  			position: absolute;
  			font-size: 210px;
  			// z-index: 1;
		}

		&.details {
			z-index: 2;
			position: absolute;
			font-family: "futura-pt-condensed",sans-serif;
			color: black;
			width: 33%;
			// top: 95px;
			display: inline-block;

		}

		&.slug, &.client-name {
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			padding: 5px 0px;
			width: 100%;
			text-transform: uppercase;
		}

		&.subtitle {
			border-bottom: 1px solid black;
			padding: 5px 0px;
			width: 100%;
			text-transform: uppercase;
			font-style: italic;
		}

		&.copy {
			width: 36%;
			height: auto;
			// top: 70px;
			// left: 310px;
			padding-left: 20px;
			padding-right: 20px;
			/* float: right; */
			position: relative;
			display: inline-block;

			p {
				font-size: 13px;
			}
		}

		&.quote {
			// margin-top: 70px;
			position: relative;
			// width: 44%;
			// left: 330px;
			border-top: 1px solid black;
			font-size: 1.2em;
			text-transform: uppercase;
			
			&:after {
					content: '\201D';
  					font-family: "lust",sans-serif;
		  			color: $yellow;
		  			position: absolute;
		  			font-size: 210px;
		  			z-index: 1;
		  			// right: 150px;
		  			// top: 90px;
			}


			.quote-copy {
				position: relative;
				border-bottom: 1px solid black;
				text-transform: uppercase;
				right: 0;
				color: black;
				font-size: 1.3em;
				z-index: 3;

				
				p {
					font-family: "futura-pt-condensed",sans-serif;
					letter-spacing: 5px;
				}
			}

			.reference {
				color: black;
				font-size: 1.1em;
				position: relative;
				z-index: 2;

				p {
					font-family: "futura-pt-condensed",sans-serif;
					font-style: italic;
					text-align: right;
					text-transform: none;

				}				
			}
		}

		&.portfolio-section {
			width: 100%;
			margin: 20px 0px;
			min-height: 1000px;
			position: relative;

			.details {
				position: relative;
				z-index: 2;
			}

			.copy {
				top: 10px;
				z-index: 2;
			}

			.logo {
				position: absolute;
				z-index: 1;
			}

			.slide-control-container {
				width: 100%;
			}

			.slide-container {
				width: 100%;
				height: 680px;
				z-index: 2;
				position: relative;
				top: 70px;
				width: 100%;
				overflow: hidden;

				ul {
					width: 100%;
					margin: auto;
					white-space: nowrap;
					margin: 0;
					display: block;
					list-style-type: disc;
					padding: 0;
				}

				li {
					display: inline-block;
					width: 100%;
					height: auto;
					overflow: hidden;
					text-align: center;
					margin: 0;
					padding: 0;
					border: none;
					position: relative;

					img {
						position: relative;
						top: 0;
						left: 0;
					}
				}

				// ul {
				// 	li {
				// 		position: absolute;
				// 		left: 0;
				// 	}
				// }
			}

			&:nth-child(odd) {
				@include portfolio-odd;
			}

			&:nth-child(even) {
				@include portfolio-even;
			}			
		}
	}
}

.arrow-nav {
	background: url('/img/carousel-arrow-side.png');
	display: block;
	position: absolute;
	bottom: 60px;
	z-index: 4;
	right: -60px;
	width: 299px;
	height: 346px;


	a, .counter{
		display: inline-block;
		height: 20px;
		width: 17px;
		background-size: cover;
		top: 47%;
		position: absolute;
		cursor: pointer;

		&.prev {
			background-image: url('/img/arrow-left.png');
			left: 130px;
		}

		&.next {
			background-image: url('/img/arrow-right.png');
			right: 32px;
		}
	}

	.counter {
		display: block;
		font-family: "futura-pt-condensed",sans-serif;
		color: black;
		width: 100px;
		left: 57%;
		font-size: 28px;
		top: 45%;

		span {
			display: inline-block;
		}
	}
}

.content-bottom {
	padding-bottom: 50px;
	margin-top: 30px;
	a {
		font-size: 4.2em;
		font-family: "lust",sans-serif;
		display: block;
		width: auto;
		color: black;
		border-bottom: 2px solid black;

		&:before {
			content: '';
			background: url('/img/arrow2x.png');
			background-size: 38px 33px;
			width: 38px;
			height: 33px;
			display: inline-block;
			margin-right: 5px;
		}
	}
}

.headline {
	position: absolute;
	color: black;

	h1 {
		font-size: 4em;
		margin-bottom: 0;
	}

	hr {
		color: black;
		width: 100px;
		display: block;
		position: relative;
		left: 0;
		margin: 0;
		padding: 0;
		border-color: black;
	}

	p {
		font-size: 1.4em;
		max-width: 260px;
	}

	a {
		color: black;
		text-decoration: underline;
	}

}

.image-j {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 374px;
	height: 424px;

	img {
		margin: auto;
		display: block;
		width: auto;
	}
}

// Header
header {

}

// Nav
nav {
	width: 100%;
	height: 30px;
	background: black;
	text-transform: uppercase;
	padding: 4px;
	padding-left: 13px;	

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 6px;
			a {
				color: $nav_gray;
				text-decoration: none;
				font-family: "futura-pt-condensed",sans-serif;
				font-size: 1em;
				transition: color 0.3s ease-in;

				
				&:hover, &.active {
					color: white;
				}
			}
		}
	}
}

.top-right {
	position: absolute;
	color: black;
	height: 100px;
	width: auto;
	transform: rotate(90deg);
	right: 0;
	top: 110px;
	font-size: 1.6em;
	text-transform: uppercase;
	font-family: "futura-pt-condensed",sans-serif;
	letter-spacing: 5px;
	display: block;


	ul {
		padding: 0;
		margin: 0;
	}
}

//Footer

footer {
	background: black;
	color: white;
	padding-bottom: 67px;
	padding-top: 67px;

	.top {
		overflow: hidden;

		div {
			display: inline-block;
			position: relative;
		}

		.left {
			width: 65%;
			left: 0;
			font-size: 1.3em;

			ul {
				display: block;
				width: 60%;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					min-width: 150px;
					margin-top: 10px;

					a {
						color: white;

						span {
							font-family: "museo-slab",serif;
						}

						&:before {
							margin-right: 5px;
						}

					}
				}
			}
		}

		.right {
			width: 30%;
			float: right;
		}
	}

	.bottom {
		border-top: 1px solid $base-gray;
		margin-top: 10px;
		padding-top: 20px;
		width: 100%;
		position: relative;

		p {
			width: 60%;
			font-size: 1.2em;
		}

		a {
			color: white;
			font-size: 3em;

			&.email {
				font-family: "lust",sans-serif;
			}

			&.go-to-top {
				display: block;
				border: 4px solid #FFF;
				padding: 16px;
				height: 74px;
				width: 74px;
				position: absolute;
				right: 0;
				font-size: 2.1em;
				top: 60px;

			}
		}
	}

	h3 {
		color: white;
		font-size: 58px;
		padding-bottom: 10px;
		margin: 0;
	}
}

//Internet Explorer specific. IE10, IE11

html {
	&.IE{
		
	}
}

//Lightbox
.lightbox-wrapper {

	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: #000;
	left: 0;
	top: 0px;
	background: rgba(0,0,0,0.8);
	z-index: 100;
	opacity: 0;

	&.show {
		display: block;
		opacity: 1;
	}
	
}