
/* 	Global styles, yeah?
/* ======================================= */
body {
	position: relative;
}
.tester {
	position: absolute;
	top: 100px;
	bottom: 40px;
	right: 13px;
	left: 10px;
	height: 65px;
	width: 70px;
	background: red;
}