{% extends 'layout.html' %}

{% block body_class %}index{% endblock %}

{% block header_image %}
    <div class="image-j">
        <img src="/img/big-j.png" alt="Big J">
    </div>
{% endblock %} 


{% block content %}
    {% for item in section %}
        <div class=" {{item.slug}} cv-section">
            <div class="number">{{item.number}}</div>
            <div class="details">
                <div class="slug">
                    {{item.name}}
                </div>
                <div class="subtitle">
                    {{item.title}}
                    <br/>
                    {{item.date}}
                </div>
            </div>
            <div class="copy">
               {{item.copy|safe}}
            {% spaceless %}
                {% if item.bullets %}
                    <ul class="bullet-points">
                        {% for bullet in item.bullets %}
                            <li class="bullet">
                                <p>{{ bullet.point }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endspaceless %} 
            </div>

            <div class="quote">
                <div class="quote-copy">
                   {{item.quote|safe}}
                </div>
                <div class="reference">
                    <p>{{item.reference|safe}}</p>
                </div>
            </div>                        
        </div>   
    {% endfor %}
{% endblock %}