
<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9"><![endif]--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Joe Furr - Illustrator Founder Designer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="//use.typekit.net/woe8xlq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="wrapper">
            <nav>
                <ul>
                    {% for item in nav %}
                        <li><a class="nav-{{ item.name }}" href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

             <div class="top-right">
                <ul class="futura">
                    {% block top_right %}
                        <li>Illustrator</li>
                        <li>Founder</li>
                        <li>Designer</li>
                    {% endblock %}
                </ul>
            </div>
            <header class="content-top">
                {% block headline %}
                    <div class="headline">
                        <h1>Joe Furr</h1>
                        <hr>
                        <p>Freelance senior digital designer &amp; Illustrator.<br/> Founder of <a target="_blank" href="http://usedeck.com/">Deck.</a><br/>
                            6 + years in creative &amp; tech industry</p>
                    </div>
                {% endblock %}                

                {% block header_image %}
                {% endblock %}

            </header>

            <h1>{{ pagename|title }}</h1>

            <div class="content-main">
                {% block content %}
                {% endblock %}                               
            </div>

            {% block footer %}

                <div class="content-bottom">
                    <a href="/portfolio" class="portfolio">View my portfolio</a>
                    <a target="_blank" class="deck" href="http://usedeck.com/">View my startup, Deck</a>
                </div>

                <footer>
                    <div class="top">
                        <div class="left">
                            <h3>Let's link up</h3>
                            <ul>
                                <li><a taregt="_blank" class="icon-twitter" href="http://www.twitter.com/whatthefurr"><span>Twitter</span></a></li>
                                <li><a taregt="_blank" class="icon-instagram" href="http://www.instagram.com/whatthefurr"><span>Instagram</span></a></li>
                                <li><a taregt="_blank" class="icon-dribbble" href="http://www.dribbble.com/whatthefurr"><span>Dribble</span></a></li>
                                <li><a taregt="_blank" class="icon-facebook" href="http://www.facebook.com/whatthefurr"><span>Facebook</span></a></li>
                                <li><a taregt="_blank" class="icon-linkedin" href="http://lnkd.in/ca9Ar7"><span>LinkedIn</span></a></li>
                                <li><a taregt="_blank" class="icon-tumblr" href="http://blog.whatthefurr.com/"><span>Tumblr</span></a></li>
                            </ul>
                        </div>

                        <div class="right">
                            <h3>Hire Me</h3>
                            <p>Freelance digital design roles in London. Whether you’re a global creative agency, a small statrup, or a client with a juicy breif, I’d love to hear form you. </p>
                        </div>
                    </div>

                    <div class="bottom">
                        <p>Got a question? Want to work together?<br/>
                        Fancy a chat? Quick pint? drop me a line...</p>
                        <a href="mailto:joe@whatthefurr.com"  class="email">joe@whatthefurr.com</a>
                        <a class="icon-arrow-up go-to-top"><span class="desktop-hidden">Back to Top</span></a>
                    </div>
                </footer>

            {% endblock %}            

        </div>

        {% block scripts %}
            <script src="/dist/prod.js"></script>
        {% endblock %}
      
    </body>
</html>