{% extends 'layout.html' %}

{% block body_class %}portfolio{% endblock %}

{% block headline %}
    <div class="headline">
        <h1>Joe Furr</h1>
        <p>London based digital designer.<br/>
            Founder of <br/><a href="">Deck</a> &amp; <a href="">Whatthefurr</a></p>
    </div>
{% endblock %}   

{% block header_image %}
    <div class="image-j">
        <img src="/img/big-f.png" alt="Big J">
    </div>
{% endblock %}


{% block content %}
    {% for item in section %}
        <div class=" {{item.slug}} cv-section">
            <div class="number">{{item.number}}</div>
            <div class="details">
                <div class="slug">
                    {{item.name}}
                </div>
                <div class="subtitle">
                    {{item.title}}
                    <br/>
                    {{item.date}}
                </div>
            </div>
            <div class="copy">
               {{item.copy|safe}}
            </div>

            <div class="quote">
                <div class="quote-copy">
                   {{item.quote|safe}}
                </div>
                <div class="reference">
                    <p>{{item.reference|safe}}</p>
                </div>
            </div>                        
        </div>   
    {% endfor %}
{% endblock %}

