{% extends 'layout.html' %}

{% block body_class %}portfolio{% endblock %}

{% block headline %}
    <div class="headline">
        <h1>Joe Furr</h1>
        <p>London based digital designer.<br/>
            Founder of <br/><a href="">Deck</a> &amp; <a href="">Whatthefurr</a></p>
    </div>
{% endblock %}   

{% block header_image %}
    <div class="image-j">
        <img src="/img/big-f.png" alt="Big J">
    </div>
{% endblock %}


{% block content %}
    <div class="portfolio-wrapper">
        {% for item in section %}
            <div class="{{item.slug}} portfolio-section">
                <div class="details">
                    <div class="client-name">
                        {{item.clientName}}
                    </div>
                    <div class="subtitle">
                        {{item.projectTitle}}
                        <br/>
                        {{item.projectDesc}}
                    </div>
                </div>
                <div class="copy">
                   {{item.copy|safe}}
                </div>

                <div class="logo">
                    <img src="/img/{{item.slug}}-logo-bg.png" alt="{{item.clientName}} Logo">
                </div>
                
                <div class="slide-container">
                    <ul class="slides">
                        {% for slide in item.slides %}
                            <li class="slide">
                                <img src="/img/{{slide.slide}}-slide.png" alt="">
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="arrow-nav">
                        <a href="#" class="prev"></a>
                        <a href="#" class="next"></a>
                    </div>               
                </div>                                      
            </div>   
        {% endfor %}
    </div>
{% endblock %}

